.input:focus {
}

.input {
    font-size: 1em;
    padding: .5em;
    width: 20vw;
    margin-right: 2vw;
    border-radius: .3em;
    border: 1px solid #adadad;
}

.inputWrapper {
    display: flex;
    align-items: start;
    margin-top: .5em;
    margin-bottom: .5em;
}

.superInput {
}

.errorInput {
    border-color: red;
}

.errorInput:focus {
}

.error {
    color: red;
    margin-top: .5em;
}
