.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    align-items: start;
    margin-top: .5em;
    margin-bottom: .5em;

}

.error {
    color: red;
    margin-top: .5em;
}

.input {
    font-size: 1em;
    padding: .5em;
    width: 20vw;
    margin-right: 2vw;
    border-radius: .3em;
    border: 1px solid #212A34;
}

.input:focus {
}

.errorInput {
    border-color: red;
}

.button {
    padding: .5em 1.5em;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #0066cc;
    border: none;
    border-radius: .3em;
    /*cursor: pointer;*/

}

.button:hover {
    background-color: #dde0e3;
    color: #0066cc;
    outline: .05em solid #0066cc;
}

.button:focus {
}

.button:active {
    background-color: #9a9a9a;
}

.button:disabled {
}

.text {
}

.greeting {
}
