.button {
    padding: .5em 1.5em;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #0066cc;
    border: none;
    border-radius: .3em;
}

.disabled {
    background-color: #d2d2d2;
}

.secondary {
    background-color: white;
    border: 1px solid #0066cc;
    color: #0066cc;
}

.default {

}

.red {
    background-color: red;
}

.default:hover {
    background-color: #ffffff;
    color: #0066cc;
    outline: .05em solid #0066cc;
}

.red:hover {
    background-color: #ffffff;
    color: #ff0000;
    outline: .05em solid #ff0000;
}

.secondary:hover {
    background-color: #0066cc;
    border: 1px solid #0066cc;
    color: #ffffff;
}


.default:active {
    background-color: #afafaf;
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
